@import "bootstrap";

  html {
    overflow-y: scroll;
  }
  
  body {
    padding-top: 60px;
  }
  
  section {
    overflow: auto;
  }
  
  textarea {
    resize: vertical;
  }
  
  .center {
    text-align: center;
  }
  
  .center h1 {  
    font-size: 5em;
    font-weight: 700;
    letter-spacing: -2px;
    text-align: center;
  }
  .nav__top {
      display: flex;
      color: white;
  }
  .nav__top li a{
    line-height: 50px;
    color: white;
    padding: 0 10px !important;
  }
  .nav__top li a:hover{
    background-color: transparent;
    text-decoration: none;
    color: rgb(27, 137, 180);
    
  }
  .logo {
      color: white;
  }
  #logo {
    float: left;
    margin-right: 10px;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
    line-height: 50px;
  }
  #logo:hover {
    color: rgb(27, 137, 180);
    text-decoration: none;
    background-color: transparent;
  }
  .btn-sign_up {
      color: white !important;
      margin: 30px 0 0 0;
      height: 45px;
      width: 140px;
      font-size: 18px;
      line-height: 45px;
      padding: 0;
  }
  .title_h2_homepage {
      color: #666;
      font-size: 1.6em;
      margin-top: 10px !important;
  }
  .link_rails {
      color: #49a8d8 !important;
      font-weight: bold;
  }
  .link_rails:hover{    
    text-decoration: none;
    background-color: transparent !important;
    color: #0d84c0 !important;
  }


//   
footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
    color: #999;
  }
  
  footer a {
    color: #555;
  }
  
  footer a:hover {
    color: #222;
  }
  
  footer small {
    float: left;
  }
  
  footer ul {
    float: right;
    list-style: none;
  }
  
  footer ul li {
    float: left;
    margin-left: 10px;
  }
  @mixin hover__link-footer{
    background-color: transparent;
    text-decoration: none;
    color: black;
  }
  .list__nav-footer li a:hover {@include hover__link-footer()}
  .link__footer-tt:hover {@include hover__link-footer()}